/* Write your code here. */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

.notifications-app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-size: 20px;
  font-family: "Roboto";
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.notifications-list-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .notifications-list-container {
    width: 60%;
  }
}

.notification-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 32px;
  padding-top: 12px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 18px;
}

@media screen and (min-width: 768px) {
  .notification-container {
    margin-bottom: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 12px;
    padding-left: 24px;
  }
}

.primary-bg-color {
  background-color: #0b69ff;
}
.success-bg-color {
  background-color: #2dca73;
}
.warning-bg-color {
  background-color: #ffb800;
}
.danger-bg-color {
  background-color: #ff0b37;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.message {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
}
